import random

nombre1=intput("Dime tu nombre jugador 1: ")
nombre2=intput("Dime tu nombre jugador 2: ")
contador1=0
contador2=0

while (contador1 or contador2)<=100:

if contador1>=100:
    print("El ganador es", nombre1)
else: 
